<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet" >
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
rel="stylesheet" />

    <script src="https://kit.fontawesome.com/445ce71fe1.js" crossorigin="anonymous"></script>

    <title>Mercado liebre</title>
    
</head>     
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <img class="logo" src="/img/logo-mercado-liebre.svg" alt="logo-mercado-liebre">
            
            <nav class="navbar">
                <input type="text" placeholder="Buscar productos,marcas">  
                <i class="fas fa-search fa-magnifying-glass search"></i>
            </nav>
            <h2 class="copy-header"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sín tarjeta de credito </h2>
        </div>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li> <a href="#"> Ofertas </a> </li>
                <li> <a href="#"> Tiendas oficiales </a> </li>
                <li> <a href="#"> Vender </a> </li>
                <li> <a href="#"> Ayuda </a> </li>
            </ul>

            <ul class="rigth-navbar">
                <li> <a href="/register"> Creá tu cuenta </a><i class="fas fa-id-card"></i> </li>
                <li> <a href="/login"> Ingresa </a> <i class="fa-solid fa-arrow-right-to-bracket"></i> </li>
                <li> <a href="#"> Mis compras </a> <i class="fa-solid fa-basket-shopping"></i> </li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h1 class="banner">
            <img style="width: 100%;" src="/img/img-home-banner.jpg" alt="banner">
            </h1>
            
            <h2 class="titles"> Basado en tu ultima vista </h2>
        <div class="global">
        
        <article class="conteiner01">

            <img class="img" src="/img/img-cafetera-moulinex.jpg" alt="Cafetera-Moulinex">
            
            <div class="details">
                <div class="icon2">
                <i class="fa-solid fa-truck"></i>
                </div>
                <div class="details-price-descount">
                    <p> $6770 </p>
                    <p class="descount"> 40% off </p>
                </div>

                <h4 class="name-product"> Cafetera Moulinex </h4>
                
            </div>

        </article>

        <article class="conteiner01">

            <img class="img" src="/img/img-macbook-pro-2019.jpg" alt="macbook-pro">
        
            <div class="details">
                <div class="icon2">
                    <i class="fa-solid fa-truck"></i>
                </div>
                <div class="details-price-descount">
                <p> $230.000 </p>
                <p class="descount"> 20% off </p>
                </div>
                <h4 class="name-product"> Macbook Pro 2013 </h4>
            <div>
        </article>

        <article class="conteiner01">
            
            <img class="img" src="/img/img-samsung-galaxy-s10.jpg" alt="Samsung-galaxy">

            <div class="details">

                <div class="icon2">
                    <i class="fa-solid fa-truck"></i>
                </div>

                <div class="details-price-descount">
                <p> $70.500 </p>
                <p class="descount"> 10% off </p>
                </div>
                <h4 class="name-product"> Samsuns galaxy s10 </h4>
            </div>
        </article>
        
        <article class="conteiner01">

                <img class="img" src="/img/img-tv-samsung-smart.jpg" alt="Samsunsg-smart">
            <div class="details">

                <div class="icon2">
                    <i class="fa-solid fa-truck"></i>
                </div>
                
                <div class="details-price-descount">
                <p> $23.200 </p> 
                <p class="descount"> 5% off </p>
                </div>
                <h4 class="name-product"> SmartTv Samsunsg 43" </h4>

            </div>

        </article>
        </div>
        </section> 
        <section>  
            <h2 class="titles"> Ofertas </h2>
        <div class="global">
        
        <article class="conteiner01">

            <img class="img" src="/img/img-cafetera-moulinex.jpg" alt="Cafetera-Moulinex">
            
            <div class="details">
                <div class="icon2">
                <i class="fa-solid fa-truck"></i>
                </div>
                <div class="details-price-descount">
                    <p> $6770 </p>
                    <p class="descount"> 40% off </p>
                </div>

                <h4 class="name-product"> Cafetera Moulinex </h4>
                
            </div>

        </article>

        <article class="conteiner01">

            <img class="img" src="/img/img-macbook-pro-2019.jpg" alt="macbook-pro">
        
            <div class="details">
                <div class="icon2">
                    <i class="fa-solid fa-truck"></i>
                </div>
                <div class="details-price-descount">
                <p> $230.000 </p>
                <p class="descount"> 20% off </p>
                </div>
                <h4 class="name-product"> Macbook Pro 2013 </h4>
            <div>
        </article>

        <article class="conteiner01">
            
            <img class="img" src="/img/img-samsung-galaxy-s10.jpg" alt="Samsung-galaxy">

            <div class="details">

                <div class="icon2">
                    <i class="fa-solid fa-truck"></i>
                </div>

                <div class="details-price-descount">
                <p> $70.500 </p>
                <p class="descount"> 10% off </p>
                </div>
                <h4 class="name-product"> Samsuns galaxy s10 </h4>
            </div>
        </article>
        
        <article class="conteiner01">

                <img class="img" src="/img/img-tv-samsung-smart.jpg" alt="Samsunsg-smart">
            <div class="details">

                <div class="icon2">
                    <i class="fa-solid fa-truck"></i>
                </div>
                
                <div class="details-price-descount">
                <p> $23.200 </p> 
                <p class="descount"> 5% off </p>
                </div>
                <h4 class="name-product"> SmartTv Samsunsg 43" </h4>

            </div>

        </article>
        </div>
        </section> 
    </main>
    <footer>

        <div class="pie-d-pagina">
            <div class="icon">
            <i class="fa-solid fa-credit-card"></i>
        </div>
        <h4 class="pieDePagina"> Paga con tarjeta o en efectivo </h4>
        <p class="pieDePagina"> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro! 
        </p>
        
        <div class="icon">
            <i class="fa-solid fa-gift"></i>
        </div>
        <h4 class="pieDePagina"> Envío gratis desde $ 2.500 </h4>
        <p class="pieDePagina"> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.
        </p>
        <div class="icon">
            <i class="fa-solid fa-user-shield"></i>
        </div>
        <h4 class="pieDePagina"> Seguridad, de principio a fin </h4>
        <p class="pieDePagina"> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@. 
        </p>

        
    </div>
    <p class="pie"> Copyright © 1999-2020 MercadoLiebre S.R.L. </p>
    </footer>  
</body>
</html>

