<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>login</title>
</head>
<body>
    <form action="/login" method="POST">
    <div class="login-head">
        <div class="login">
        <label></label>
        <input type="text" name="user" placeholder="Nombre de usuario">
        </div>
        <div class="login">
        <label></label>
        <input type="text" name="password" placeholder="contraseña">
        </div>
        <div class="login login-button">
            <button type="submit" class="button-login"><a href="/">Enviar</a></button>
        </div> 
    </div>
    </form>
</body>
</html>